################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FootballShare/bin/Debug/netcoreapp2.1
/FootballShare/obj
/FootballShare.Entities/bin/Debug/netstandard2.0
/FootballShare.Entities/obj
/FootballShare/wwwroot/lib
/FootballShare/bin/Debug/netcoreapp2.2
/FootballShare.DAL/bin/Debug/netstandard2.0
/FootballShare.DAL/obj
