@{
    ViewData["Title"] = "FootballShare";
}

<div class="row">
    <div class="col-md-6">
        <h2>FootballShare</h2>
        <p>
            Get started today with fun, free wagers on NFL games.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Log in to get started</h2>
        <p>
            Don't have an account yet? Click 'Register' to use an existing Google or Microsoft Account and follow the instructions.
        </p>
    </div>
</div>
