@model IEnumerable<FootballShare.Entities.Group.BettingGroup>

@{
    ViewData["Title"] = "View";
}

<h1>My Betting Groups</h1>

<p>
    <a asp-action="Create">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
