@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Get started by logging in above and start watching your (fake) money grow based on how 
        good you are at playing the spreads.
    </p>
    <h4>Don't have an account?</h4>
    <p>
        Simply sign in with your existing Google or Microsoft account to get started in minutes.
    </p>
</div>
