
@{
    ViewData["Title"] = "Rules";
}

<h1>Rules</h1>
<p>The game works as follows:</p>
<ol>
    <li>You start with $10,000 in play money.</li>
    <li>Every week of the season, point spreads are generated for each game.</li>
    <li>Using these spreads, pick four games to bet on.</li>
    <li>
        Your bets can be made in any amount <b>in $100 denominations</b>.
        <ul>
            <li>For example, you cannot wager $250 but you can wager either $200 or $300.</li>
        </ul>
    </li>
    <li>Bets are due before kickoff.</li>
    <li>
        You <b>must</b> pick four games. Each game missed is a $500 penalty. If you miss a game, pick
        a later game while still available.
        <ul>
            <li>For example, if you miss two bets in a week, you are penalized $1000.</li>
        </ul>
    </li>
    <li>Watch your games while watching your fake money grow (or decline).</li>
</ol>